
    <div class="section scrollspy wow fadeInUp" data-wow-duration="4s" id="team">
       
    <div id="firstPage">

       <div class="container" class="white">
           <h2 class="header text_b" style="color: #212121;"> Our Team </h2>
           <div class="row">
               <div class="col s12 m4 wow fadeInDown" data-wow-delay="2s" data-wow-duration="1s">
                   <div class="card card-avatar">
                       <div class="waves-effect waves-block waves-light">
                           <img class=" activator" src="/icons/siddharth.jpg">
                       </div>
                       <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4">Siddharth Garg <br/>
                               <small><em><h6 class="red-text text-darken-1">President</h6></em></small></span>
                           <p>
                              <a href="https://www.facebook.com/shrija.mishra.750" target="_blank">
                                   <i class="material-icons">home</i>
                               </a>
					     	   <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="08986909333">
                               	   <i class="material-icons">home</i>
                               </a>
                               <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="shrija.mishra102@gmail.com">
                               	   <i class="material-icons">home</i>
                               </a>
                           </p>
                       </div>
                   </div>
               </div>
               <div class="col s12 m4 wow fadeInDown" data-wow-delay="2s" data-wow-duration="1s">
                   <div class="card card-avatar">
                       <div class="waves-effect waves-block waves-light">
                           <img class=" activator" src="/icons/anjali.jpg">
                       </div>
                       <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4">Anjali Agarwal <br/>
                               <small><em><h6 class="red-text text-darken-1">Treasurer</h6></em></small></span>
                           <p>
                              <a href="https://www.facebook.com/shrija.mishra.750" target="_blank">
                                   <i class="material-icons">home</i>
                               </a>
					     	   <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="08986909333">
                               	   <i class="material-icons">home</i>
                               </a>
                               <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="shrija.mishra102@gmail.com">
                               	   <i class="material-icons">home</i>
                               </a>
                           </p>
                       </div>
                   </div>
               </div>
               <div class="col s12 m4 wow fadeInDown" data-wow-delay="2s" data-wow-duration="1s">
                   <div class="card card-avatar">
                       <div class="waves-effect waves-block waves-light">
                           <img class=" activator" src="/icons/shrey.jpg">
                       </div>
                       <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4">Shrey Sharma<br/>
                               <small><em><h6 class="red-text text-darken-1">Convenor</h6></em></small>
                           </span>
                           <p>
                               <a href="https://www.facebook.com/shrija.mishra.750" target="_blank">
                                   <i class="material-icons">home</i>
                               </a>
					     	   <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="08986909333">
                               	   <i class="material-icons">home</i>
                               </a>
                               <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="shrija.mishra102@gmail.com">
                               	   <i class="material-icons">home</i>
                               </a>
                           </p>
                       </div>
                   </div>
               </div>
           </div>
           <div style="text-align: center;">
             <a href='/team' class="waves-effect waves-light btn">All</a>        
           </div>
       </div>
      </div>
     </div>



       <div class="section no-pad-bot white scrollspy" id="sponsors">
       	<div id="firstPage">
       	 <div class="container" class="white">
       	  <h2 class="header text_b" style="color: #212121;"> Sponsors </h2>
       	  	<div class="row">
                
                <div class="col s12 m4 wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
                   <div class="card card-avatar">
                       <div class="waves-effect waves-block waves-light">
                           <img class=" activator" src="/icons/codechef2.jpg">
                       </div>
                       <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4"><a href="https://www.codechef.com/" target="_blank">Codechef</a> <br/>                          
                           
                       </div>
                   </div>
               </div>
               
           </div>
       	 </div>
       	</div>
       </div>
