
<% content_for :heading do %>
	Team
<% end %>

<div class="section scrollspy wow fadeInUp" data-wow-duration="4s" id="team">
	<h2 class="header text_b" style="color: #212121;" align="center"> Our Team </h2>
	<div class="container">
		<div class="row">
			<div class="col s12 m4">
				<div class="card card-avatar">
					<div class="block">
						<img class=" activator" src="/icons/siddharth.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Siddharth Garg <br/>
						<small><em><h6 class="red-text text-darken-1">President</h6></em></small></span>
						<a target="_blank" href="https://www.facebook.com/siddharth.garg09" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="9883591346">
							<i class="material-icons">phone</i>
						</a>
						<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="garg96.sid@gmail.com">
							<i class="material-icons">email</i>
						</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card card-avatar">
					<div class="block">
						<img class=" activator" src="/icons/anjali.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Anjali Agarwal <br/>
						<small><em><h6 class="red-text text-darken-1">Treasurer</h6></em></small></span>
						<a target="_blank" href="https://www.facebook.com" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="7063494551">
							<i class="material-icons">phone</i>
						</a>
						<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="agrawalanjali996@gmail.com">
							<i class="material-icons">email</i>
						</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card card-avatar">
					<div class="block">
						<img class=" activator" src="/icons/shrey.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Shrey Sharma <br/>
						<small><em><h6 class="red-text text-darken-1">Convener</h6></em></small></span>
						<a target="_blank" href="https://www.facebook.com/shreyy.sharma" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="9453244178">
							<i class="material-icons">phone</i>
						</a>
						<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="shrey.coderclan@gmail.com">
							<i class="material-icons">email</i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<br>
			<div class="col s12 m4 l2" style="text-align: center;">
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/shashank.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Shashank Shekhar</b></h6>
							<em><h7 class="red-text text-darken-1">Technical Head</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/abhishek2.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Abhishek Karan</b></h6>
							<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/anand.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Anand Jhunjhunwala</b></h6>
							<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
			</div>

			<div class="col s12 m4 l2" style="text-align: center;">
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/adarsh.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Adarsh Singh</b></h6>
							<em><h7 class="red-text text-darken-1">Class Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/chetan.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Chetan Garg</b></h6>
							<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/narendra.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Narendra Yadav</b></h6>
							<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
			</div>

			<div class="col s12 m4 l2" style="text-align: center;">
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/abhishek.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Abhishek Kumar</b></h6>
							<em><h7 class="red-text text-darken-1">Design Head</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/samadrita.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Samadrita Sarkar</b></h6>
							<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/saptarshi.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Saptarshi Dey</b></h6>
							<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
			</div>

			<div class="col s12 m4 l2" style="text-align: center;">
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/richa.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Richa Agarwal</b></h6>
							<em><h7 class="red-text text-darken-1">Social Media & Publicity Head</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/saurav.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Saurav Agarwal</b></h6>
							<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/shreya.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Shreya Saha</b></h6>
							<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
			</div>

			<div class="col s12 m4 l2" style="text-align: center;">
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/sandeep.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Sandeep Kumar</b></h6>
							<em><h7 class="red-text text-darken-1">Contest Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/vikas.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Vikas Kumar Patel</b></h6>
							<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
			</div>

			<div class="col s12 m4 l2" style="text-align: center;">
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/shiris.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Shiris Seles</b></h6>
							<em><h7 class="red-text text-darken-1">PG Coordinator & Design Head</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/vishvanath.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Vishvanath Dutt Sharma</b></h6>
							<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
						</div>
					</div>
				</div><br />
			</div>
		</div>
		<h2 class="header text_b" style="color: #212121;" align="center"> Alumni </h2>
		

		<h4 class="red-text text-darken-1" align="center">2015</h4>
		<div class="divider"></div><br>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/gaurav.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/gcnit/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/gcnit.93"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Gaurav Chandak <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>Senior Software Engineer at Tracxn (Jun 2016 - Present)<br>
						SDE Intern at Verse Innovation Pvt. Ltd. (May 2015 - Jul 2015) <br>
						SDE Intern at InsideView (May 2014 - Jul 2014)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/archit.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/architsrivastava/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/archit.sri"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Archit Srivastava <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>SDE Intern at Microsoft (May 2015 - Jul 2015) <br>
						Columnist at The Zine (Nov 2013 - 2014) <br>
						Co-Founder & Creative Investigator at FindAWay (Oct 2013 - 2014)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/dharmesh.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/dkrdharmesh/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/dharmesh.ruprela"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Dharmesh Ruprela <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>SDE at Amazon (Jul 2017 - Present) <br>
						SDE at Zomato (Jun 2016 - Jul 2017) <br>
						SDE Intern at Amazon (May 2015 - Jul 2015)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/piyush.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/piyush-agarwal-a3a39a84/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/piyush.agarwal.10888"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Piyush Agarwal <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>Technical Member at Arcesium (Jul 2016 - Present) <br>
						SDE Intern at D.E. Shaw India Pvt. Ltd. (Jun 2015 - Jul 2015) </p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/sagar.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/sagar0907/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/sagar0907"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Sagar Jain <br>
						B.Tech. in Electronics & Communication Engineering <br>
						Experience: <br>
						<p>Platform Engineer at Directi (Jul 2016 - Present) </p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/sanu.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/saanc/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/SanuGupta.saanc"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Sanu Kumar Gupta <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>Core SDE at Tower Research Capital (Jul 2016 - Present) <br>
						SDE Intern at Amazon (May 2015 - Jul 2015)</p>
					</div>
				</div>
			</div>
		</div>

		<h4 class="red-text text-darken-1" align="center">2016</h4>
		<div class="divider"></div><br>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/aman.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/aman-agarwal-033b47ba/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/aman8050"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Aman Agarwal <br>
						B.Tech. in Electronics & Communication Engineering <br>
						Experience: <br>
						<p>Application Developer at Oracle (Jul 2017 - Present)<br>
						Intern at IIT Bombay (May 2016 - Jul 2016) </p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/shrija.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/shrija-mishra-baa4baa4/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/shrija.mishra.750"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Shrija Mishra <br>
						B.Tech. in Computer Science & Engineering <br>
						Experience: <br>
						<p> <br></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/parakh.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/parakh-bansal-360679102/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/parakh94"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Parakh Bansal <br>
						B.Tech. in Computer Science & Engineering <br>
						Experience: <br>
						<p>Intern at IIT Kharagpur (May 2016 - Jun 2016)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/satrap.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/satrap-rathore-27883710a/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/satraprathore"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Satrap Rathore <br>
						B.Tech. in Computer Science & Engineering <br>
						Experience: <br>
						<p>Software Engineer at FactSet (Jun 2017 - Present) <br>
						Data Engineer Intern at Suphalaam Technologies (May 2016 - Jul 2016) <br>
						Research Projrct at NIT Durgapur (Jan 2016 - Feb 2016) <br>
						Application Developer at National Informatics Center(May 2015 - Jul 2015) </p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/saurabh.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/saurabh-srivastava-bbaba2a3/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/saurabh.srivastava.33483"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Saurabh Srivastava <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>SDE at Amazon (Jul 2017 - Present) <br>
						Application Programmer Intern at Roofpik (May 2016 - Jun 2016)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/rashmi.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="#"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/rashmi.arya.52035"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Rashmi Arya <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/sakshi.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/sakshi-saraogi-634968104/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/sakshi.saraogi.92"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Sakshi Saraogi <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>Software Engineer at FactSet (Jul 2017 - Present) <br>
						Intern at D.E.Shaw (Jun 2016 - Jul 2016) <br>
						Intern at IIT Kharagpur (May 2015 - Jun 2015)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/neetesh.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/neetesh-kumar-06947889/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/kumarneetesh24"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Neetesh Kumar <br>
						B.Tech. in Computer Science & Engineering <br>
						Experience: <br>
						<p>Application Engineer at Media.net (Sep 2017 - Present) <br>
						Intern at MobStac (May 2016 - Jul 2016)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/surya.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/surya-kant-singh-64b355103/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Surya Kant Singh <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>Application Developer at Meesho (May 2016 - Jun 2016) <br>
						Intern at TestFormula.com (May 2015 - Jun 2015) <br>
						Intern at Spark Infosystems (May 2015 - Jun 2015)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/tanushree.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/tanushree-chakravarty-06458370/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/tanushreec"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Tanushree Chakravaty <br>
						Masters in Computer Application <br>
						Experience: <br>
						<p>Associate Software Engineer at Vawsum Schools Pvt. Ltd. (Jan 2017 - Present) <br>
						Intern at NIT Durgapur (Dec 2014 - Jan 2015)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/mizan.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/mizan-rehman-28bb70125/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="#"><i class="fa fa-twitter-square fa-lg" style="color: #1DA1F2;"></i></a>
							<a target="_blank" href="https://www.facebook.com/mizan.prince.31"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Mizan Ur Rehman <br>
						Masters in Computer Application <br>
						Experience: <br>
						<p>Senior Software Engineer at Bitibe Technologies Pvt. Ltd. (Jun 2017 - Present) <br>
						Application Developer at My India Kart Pvt. Ltd. (Dec 2016 - May 2017)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>