<% content_for :heading do %>
	<a style="text-decoration:none;" href="/">RECursion</a>
<% end %>
<style>
.card-title{
	font-size: 14px !important; 
}
</style>
<div class="section scrollspy wow fadeInUp" data-wow-duration="4s" id="team">
	<h2 class="header text_b" style="color: #212121;" align="center"> Our Team </h2>
	<div class="container">
		<div class="row">
			<div class="col s12 m4">
			<div class="card card-avatar">
			<img class="activator" src="/icons/chetan.jpg">
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Chetan Garg <br/>
					<small><em><h6 class="red-text text-darken-1">President</h6></em></small></span>
				   <a href="https://www.facebook.com/chetan.garg.927" target="_blank">
					 <i class="fa fa-facebook"></i>
				   </a>
								  <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="9883591346">
						   <i class="material-icons">phone</i>
					</a>
					<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="chetangarg1102@gmail.com">
						   <i class="material-icons">email</i>
					</a>
			</div>
		</div>
			</div>
			<div class="col s12 m4">
			<div class="card card-avatar">
			<img class=" activator" src="/icons/sourav.jpg">
			 <div class="card-content">
				 <span class="card-title activator grey-text text-darken-4">Sourav Agarwal <br/>
					 <small><em><h6 class="red-text text-darken-1">Treasurer</h6></em></small></span>
					<a href="https://www.facebook.com/sourav.agarwal.56829" target="_blank">
						 <i class="fa fa-facebook"></i>
					 </a>
					  <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="7063494551">
							<i class="material-icons">phone</i>
					 </a>
					 <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="souravagarwal5377@gmail.com">
							<i class="material-icons">email</i>
					 </a>
			 </div>
		 </div>
			</div>
			<div class="col s12 m4">
				<div class="card card-avatar">
					<div class="card card-avatar">
                      <img class=" activator" src="/icons/vishvanath.jpg">
                       <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4">Vishvanath Dutt Sharma<br/>
                               <small><em><h6 class="red-text text-darken-1">Convener</h6></em></small>
                           </span>
                               <a href="https://www.facebook.com/vishvanath.duttsharma" target="_blank">
                                   <i class="fa fa-facebook"></i>
                               </a>
					     	   <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="9453244178">
                               	   <i class="material-icons">phone</i>
                               </a>
                               <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="visitdutt@gmail.com">
                               	   <i class="material-icons">email</i>
                               </a>
                       </div>
                   </div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<br>
			<div class="col s12 m4 l2" style="text-align: center;">
				<div class="card-avatar2">
					<div class="block" style="padding-bottom : 16px;">
						<img class="activator" src="icons/anand.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Anand Jhunjhunwala</b></h6>
							<em><h7 class="red-text text-darken-1">Tech and Publicity Head</h7></em></span>
						</div>
					</div>
				</div><br />
			<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/gyani.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Gyanesha Prajjwal</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
		<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/SG.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Shubham Gupta</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
			</div>

			<div class="col s12 m4 l2" style="text-align: center;">
				<div class="card-avatar2">
				<div class="block" style="padding-bottom : 16px;">
				<img class=" activator" src="icons/narendra.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Narendra Yadav</b></h6>
							<em><h7 class="red-text text-darken-1">Vice President</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/mantri.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Piyush Mantri</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
		<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/saurabh_kumar.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Saurabh Kumar</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
		
			</div>

			<div class="col s12 m4 l2" style="text-align: center;">
				<div class="card-avatar2">
				<div class="block" style="padding-bottom : 16px;">
				<img class=" activator" src="icons/saptarshi.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Saptarshi Dey</b></h6>
							<em><h7 class="red-text text-darken-1">Vice President</h7></em></span>
						</div>
					</div>
				</div><br />
				<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/shivansh.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Shivansh Agarwal</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
		<div class="card-avatar2">
		<div class="block">
				<img class=" activator" src="icons/jeyasurya.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Jeyasurya V</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
			</div>

			<div class="col s12 m4 l2" style="text-align: center;">
			<div class="card-avatar2">
			<div class="block" style="padding-bottom : 16px;">
			<img class=" activator" src="icons/vikas.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Vikas Kumar Patel</b></h6>
					<em><h7 class="red-text text-darken-1">Classes and Contests Head</h7></em></span>
				</div>
			</div>
		</div><br />
		<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/romit.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Romit Kumar</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
		<div class="card-avatar2">
		<div class="block">
			<img class=" activator" src="icons/grover.jpg">
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4"><h6><b>Raghav Grover</b></h6>
				<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
			</div>
		</div>
	</div><br />
		</div>
		<div class="col s12 m4 l2" style="text-align: center;">
				<div class="card-avatar2">
					<div class="block">
						<img class=" activator" src="icons/shreya.jpg">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><h6><b>Shreya Saha</b></h6>
							<em><h7 class="red-text text-darken-1">General Secretary, Social Media Head, Creative Head</h7></em></span>
						</div>
					</div>
				</div><br />
		<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/SKG.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Shubham Kumar Gupta</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
		<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/ashutosh.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Ashutosh Agarwal</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
			</div>

			<div class="col s12 m4 l2" style="text-align: center;">
			<div class="card-avatar2">
					<div class="block" style="padding-bottom : 16px;">
				<img class=" activator" src="icons/abhishek2.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Abhishek Karan</b></h6>
					<em><h7 class="red-text text-darken-1">Events and Sponsorship Head</h7></em></span>
				</div>
			</div>
		</div><br />
				<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/ritesh.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Ritesh Gupta</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
		<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/ruchi.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Ruchi Singh</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
		</div>
		</div>
		<div class = "row">
		<div class="col s12 m4 l2" style="text-align: center;">
		<div class="card-avatar2">
			<div class="block">
				<img class=" activator" src="icons/Rishabh.jpg">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><h6><b>Rishabh Sethi</b></h6>
					<em><h7 class="red-text text-darken-1">Senior Coordinator</h7></em></span>
				</div>
			</div>
		</div><br />
		</div>
		</div>
		<h2 class="header text_b" style="color: #212121;" align="center"> Alumni </h2>
		
		<h4 class="red-text text-darken-1" align="center">2018</h4>
		<div class="divider"></div><br>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/siddharth.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="www.linkedin.com/in/siddharth-garg/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="github.com/sggarg"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="www.facebook.com/siddharth.garg09"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Siddharth Garg<br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>Software Development Engineer, Amazon(Jul 2018 -Present) <br>
						SDE Intern at Amazon May 2017-July 2017<br>
						Python and Applications Developer Intern at Roofpik (May 2016-July 2016)<br>
						Software Development Intern at BigStartups (December 2015-January 2016)<br>
						Web Design Intern at eDominer (December 2015-January 2016)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/abhishek.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/ab1hi2shek"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="github.com/ab1hi2shek"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/ab1hi2shek"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Abhishek Kumar<br>
						B.Tech. in Computer Science and Engineering<br>
						Experience: <br>
						<p>Software Engineer at Toppr(Jul 2018 -Present) <br>
							Intern at IIT Bombay<br>
							Intern at D E Shaw India as a software developer<br>
					</div>
				</div>
			</div>
		</div>
		<div class="row">	
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/adarsh.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/nxtbig"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="github.com/nxtbig"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/nxtbig"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Adarsh Singh<br>
						B.Tech. in Computer Science and Engineering<br>
						Experience: <br>
						<p>Associate software engineer at Playsimple games(Jul 2018 -Present) <br>
						SDE Intern at Belzabar Software Design (May 2017 to July 2017)<br>
						SDE Intern at Youstart (May 2016 to July 2016)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/shashank.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/shashank9163"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="github.com/alchemist95"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/shashank.jha.395"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Shashank Shekar<br>
						B.Tech. in Computer Science and Engineering<br>
						Experience: <br>
						<p>Software Engineer, Microsoft IDC(Jul 2018 -Present) <br>
						SDE Intern at D.E.Shaw India Pvt Ltd (May 2017-July 2017)</br>
						SDE Intern at IIT Bombay (May 2016-July 2016)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/richa.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/richa-agarwal"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://github.com/radhika-nitd"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/richa.agarwal.37266"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
					Richa Agarwal<br>
						B.Tech. in Computer Science and Engineering<br>
						Experience: <br>
						<p>Qualcomm (Jul 2018 -Present) <br>
						Summer Intern IIT-Guwahati (May 2017- June 2017)<br>
						Summer Intern NIT Durgapur at DISARM (May 2016-June 2016)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/sandeep.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/sandeep-kumar-prajapati-2a585b109"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://github.com/saan"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/saan011"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
					Sandeep Kumar<br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						B.Tech. in Information Technology <br>
						<p>Qualcomm (Jul 2018 -Present) <br>
						</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/anjali.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/agrawalanjali"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://github.com/anjalinitd"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/profile.php?id=100007455555992"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
					Anjali Agarwal<br>
						B.Tech. in Computer Science and Engineering<br>
						Experience: <br>
						<p>JPMC (Jul 2018 -Present) <br>
						Intern at IIT KGP (May 2017- June 2017)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/shrey.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/shrey-sharma-nitdgp/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://github.com"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/shreyy.sharma"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
					Shreyy Sharma<br>
						B.Tech. in Computer Science and Engineering<br>
						Experience: <br>
						<p>Turbo Intern at Product and Services Wipro (Jul 2017 -Present)</p>
					</div>
				</div>
			</div>
			
		</div>
		
		
		<h4 class="red-text text-darken-1" align="center">2017</h4>
		<div class="divider"></div><br>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/aman.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/aman-agarwal-033b47ba/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/Aman8050"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/aman8050"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Aman Agarwal <br>
						B.Tech. in Electronics & Communication Engineering <br>
						Experience: <br>
						<p>Application Developer at Oracle (Jul 2017 - Present)<br>
						Intern at IIT Bombay (May 2016 - Jul 2016) </p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/shrija.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/shrija-mishra-baa4baa4/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/shrija.mishra.750"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Shrija Mishra <br>
						B.Tech. in Computer Science & Engineering <br>
						Experience: <br>
						<p>SDE at Microsoft (Jul 2017 - Present) <br>
						SDE Intern at Microsoft (May 2016 -  Jul 2016)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/parakh.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/parakh-bansal-360679102/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/parakh94"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/parakh94"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Parakh Bansal <br>
						B.Tech. in Computer Science & Engineering <br>
						Experience: <br>
						<p>SDE at ZS Associates (Jul 2017 - Present) <br>
						Intern at IIT Kharagpur (May 2016 - Jun 2016)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/satrap.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/satrap-rathore-27883710a/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/etotientz"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/satraprathore"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Satrap Rathore <br>
						B.Tech. in Computer Science & Engineering <br>
						Experience: <br>
						<p>Software Engineer at FactSet (Jun 2017 - Present) <br>
						Data Engineer Intern at Suphalaam Technologies (May 2016 - Jul 2016) <br>
						Research Project at NIT Durgapur (Jan 2016 - Feb 2016) <br>
						Application Developer at National Informatics Center(May 2015 - Jul 2015) </p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/saurabh.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/saurabh-srivastava-bbaba2a3/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/saurabh.srivastava.33483"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Saurabh Srivastava <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>SDE at Amazon (Jul 2017 - Present) <br>
						Application Programmer Intern at Roofpik (May 2016 - Jun 2016)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/rashmi.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="#"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/rashmi.arya.52035"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Rashmi Arya <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>SDE at NRI Fintech (Jul 2017 - Present)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/sakshi.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/sakshi-saraogi-634968104/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/sakshi.saraogi.92"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Sakshi Saraogi <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>Software Engineer at FactSet (Jul 2017 - Present) <br>
						Intern at D.E.Shaw (Jun 2016 - Jul 2016) <br>
						Intern at IIT Kharagpur (May 2015 - Jun 2015)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/neetesh.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/neetesh-kumar-06947889/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/kumarneetesh24"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/kumarneetesh24"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Neetesh Kumar <br>
						B.Tech. in Computer Science & Engineering <br>
						Experience: <br>
						<p>Application Engineer at Media.net (Sep 2017 - Present) <br>
						Intern at MobStac (May 2016 - Jul 2016)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/surya.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/surya-kant-singh-64b355103/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/surya545"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Surya Kant Singh <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>Application Developer at Meesho (May 2016 - Jun 2016) <br>
						Intern at TestFormula.com (May 2015 - Jun 2015) <br>
						Intern at Spark Infosystems (May 2015 - Jun 2015)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/tanushree.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/tanushree-chakravarty-06458370/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/tanushreec"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/tanushreec"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Tanushree Chakravaty <br>
						Masters in Computer Application <br>
						Experience: <br>
						<p>Associate Software Engineer at Vawsum Schools Pvt. Ltd. (Jan 2017 - Present) <br>
						Intern at NIT Durgapur (Dec 2014 - Jan 2015)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/mizan.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/mizan-rehman-28bb70125/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/mizanr"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/mizan.prince.31"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Mizan Ur Rehman <br>
						Masters in Computer Application <br>
						Experience: <br>
						<p>Senior Software Engineer at Bitibe Technologies Pvt. Ltd. (Jun 2017 - Present) <br>
						Application Developer at My India Kart Pvt. Ltd. (Dec 2016 - May 2017)</p>
					</div>
				</div>
			</div>
		</div>

		<h4 class="red-text text-darken-1" align="center">2016</h4>
		<div class="divider"></div><br>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/gaurav.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/gcnit/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/gcnit/"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/gcnit.93"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Gaurav Chandak <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>SDE at Microsoft (Feb 2018 - Present)<br>
						Senior Software Engineer at Tracxn (Jun 2016 - Jan 2018)<br>
						SDE Intern at Verse Innovation Pvt. Ltd. (May 2015 - Jul 2015) <br>
						SDE Intern at InsideView (May 2014 - Jul 2014)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/archit.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/architsrivastava/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/eh2arch"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/archit.sri"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Archit Srivastava <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>MS in CSE, University of Southern California (2016 - Present) <br>
						Intern at Facebook, California (2017) <br>
						SDE Intern at Microsoft (May 2015 - Jul 2015) <br>
						Columnist at The Zine (Nov 2013 - 2014) <br>
						Co-Founder & Creative Investigator at FindAWay (Oct 2013 - 2014)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/dharmesh.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/dkrdharmesh/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/dkrdharmesh"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/dharmesh.ruprela"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Dharmesh Ruprela <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>SDE at Amazon (Jul 2017 - Present) <br>
						SDE at Zomato (Jun 2016 - Jul 2017) <br>
						SDE Intern at Amazon (May 2015 - Jul 2015)</p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/piyush.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/piyush-agarwal-a3a39a84/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/piyush.agarwal.10888"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Piyush Agarwal <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>Senior Software Developer at Arcesium (Feb 2018 - Present)<br>
						Technical Member at Arcesium (Jul 2016 - Jan 2018) <br>
						SDE Intern at D.E. Shaw India Pvt. Ltd. (Jun 2015 - Jul 2015) </p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img class="activator" src="icons/sagar.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/sagar0907/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/sagar0907"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/sagar0907"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Sagar Jain <br>
						B.Tech. in Electronics & Communication Engineering <br>
						Experience: <br>
						<p>Platform Engineer at Directi (Jul 2016 - Present) </p>
					</div>
				</div>
			</div>
			<div class="col s12 m10 offset-m1 l6">
				<div class="card horizontal">
					<div class="block">
						<img src="icons/sanu.jpg"></img>
						<br>
						<div class="links">
							<a target="_blank" href="https://www.linkedin.com/in/saanc/"><i class="fa fa-linkedin-square fa-lg" style="color: #0e76a8;"></i></a>
							<a target="_blank" href="https://www.github.com/saanc"><i class="fa fa-github-square fa-lg" style="color: #000;"></i></a>
							<a target="_blank" href="https://www.facebook.com/SanuGupta.saanc"><i class="fa fa-facebook-square fa-lg" style="color: #3B5998;"></i></a>
						</div>
					</div>
					<div class="text">
						Sanu Kumar Gupta <br>
						B.Tech. in Information Technology <br>
						Experience: <br>
						<p>Core SDE at Tower Research Capital (Jul 2016 - Present) <br>
						SDE Intern at Amazon (May 2015 - Jul 2015)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>