<% content_for :heading do %>
	<a style="text-decoration:none;" href="/">RECursion</a>
<% end %>
<br />

<div class="container" style="min-height: 100%;">

<div class="col s12 m12 l12">
	<div class="card">
		<div id='calendar' style="padding: 50px"></div>
	</div>
</div>

</div>

<script>
  
  $('#calendar').fullCalendar({
    events: '/events.json'
  });

</script>

