<% content_for :heading do %>
	RECblog
<% end %>

<div class="container">
<div class="card">
<div class="text-center"><h4 style="padding: 10px;">Article #<%= Post.count+1 %></h4></div>
<br />
<div class="card-content">
<%= render 'form', post: @post %>
</div>
</div>
</div>
