 html{
 	height: 100%;
 }

 body{
 	height: 100%;
 }

.TextWrap{
    float: left;
    margin: 10px;
    width: 45%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: rgba(214, 214, 214, 0.2) rgba(214, 214, 214, 0.2);
    box-shadow: 10px 10px 5px #888888;
}

.container2 {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px){
  .container2 {
    width: 85%; }
}
@media only screen and (min-width: 993px){
  .container2 {
    width: 85%; }
}
.container p{
  font-family: 'Lato';
  font-style: bold;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  font-size: 19px;
  text-align: justify;
}
.container blockquote{
    font-family: 'Helvetica Neue', cursive;
    color: #770d0d;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: .5em 10px;
}
@media only screen and (min-width : 601px) {
  .container {
    width: 85%; } }

@media only screen and (min-width : 993px) {
  .container {
    width: 70%; } }

#loading-page {
    min-height: 522px;
    max-height: 734px;
    position: relative;

}

#enter-button {
    min-height: 120px;
    max-height: 340px;
    position: relative;
}
 footer.page-footer {
    margin-top: 0px !important;
    padding-bottom: 20px;
 }

.card-content a {color: #2196F3;}

.card-content a:hover {color: #2196F3;}

 .card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
	margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar2 img {
    height: 100px;
    width: 100px;
    border-radius: 55px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
    float: center;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

#owl-ca .item{
  margin: 3px;
}
#owl-ca .item img{
  display: block;
  width: 100%;
  height: auto;
}
