 html{
  height: 100%;
 }

 body{
  height: 100%;
  font-family: 'Ubuntu', serif;
  margin: auto;
 }

li a {
  font-size: 1.1em;
  color: #000;
}
a:hover{
    background-color: transparent;
    color: #4fc3f7;
    text-decoration: none;
  }
ul.right.hide-on-med-and-down {
  line-height: 64px;
}
span.badge.new a:hover{
  color: #fff;
}

.pagination {
  width: 100%;
  align-items: center;
  text-align: center;
  word-spacing: 0.5em;
  font-size: 1.15em;
}
.pagination .disabled {
  color: #aaaaaa;
  cursor: not-allowed;
}
.pagination .current {
  cursor: not-allowed;
  color: #fff;
  background-color: #0097a7;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 0.2em;
  font-weight: bold; 
}
.pagination a {
  text-decoration: none;
  color: #000;
}
.pagination a:hover, .pagination a:focus {
  color: #fff;
  background-color: #0097a7;
  padding: 0.3em;
  border-radius: 0.2em;
  text-decoration: none; 
}

.navbar-fixed a{
  color: #666;
}
.navbar-fixed a:hover {
  color: #fff;
}

.sidenav {
  padding: 40px;
}
.sidenav i {
  color: #929292;
}
.side-nav img {
margin-right: 25px; 
}
.side-nav a:hover {
  color: #0097a7;
}
span.badge {
  min-width: 2.5rem;
  max-height: 1.3rem;
  float: right;
  text-align: center;
  font-size: 1.0rem;
}
a span.badge.new {
  color: #000;
}
a:hover span.badge.new {
  color: #fff;
}

.text_h {
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  color: #fff;
}
.fc-left h2{
  color: #066696;
}

.fc-content{
  white-space: inherit !important; 
  overflow: auto !important;
}

.fc-center h2{
  font-size: 2.5em;
}

.fc-event:hover {
  background-color: #3a87ad; /* default BACKGROUND color */
}

.fc-state-hover{
  background-color: inherit !important; 
}

.TextWrap{
    float: left;
    margin: 10px;
    width: 45%;
    height: auto;
    margin-right: 15px;
    margin-bottom: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: rgba(214, 214, 214, 0.2) rgba(214, 214, 214, 0.2);
    box-shadow: 10px 10px 5px #888888;
}

.container2 {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px){
  .container2 {
    width: 85%; }
}
@media only screen and (min-width: 993px){
  .container2 {
    width: 85%; }
}
.container p{
  font-style: bold;
  margin: 0 auto;
  max-width: 1280px;
  font-size: 19px;
  text-align: justify;
}
.container blockquote{
  /*  font-family: 'Helvetica Neue', cursive;*/
    color: #770d0d;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: .5em 10px;
}
.container li a:visited {
  color: #000;
}
.container li a:hover {
  color: #0097a7;
}
@media only screen and (min-width : 601px) {
  .container {
    width: 85%; } }

@media only screen and (min-width : 993px) {
  .container {
    width: 70%; } }

#loading-page {
    min-height: 522px;
    max-height: 734px;
    position: relative;

}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

#enter-button {
    min-height: 120px;
    max-height: 340px;
    position: relative;
}
 footer.page-footer {
    width: 100%;
    margin-top: 1px !important;
    padding-bottom: 26px;
    font-size: 17px;
    color: #e3f2fd;
    letter-spacing: 1px;
 }

.card-content a {color: #2196F3;}

.card-content a:hover {color: #2196F3;}

 .card-avatar {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
  margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar2 img {
    height: 100px;
    width: 100px;
    border-radius: 55px;
}
.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
    float: center;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}
.horizontal {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.horizontal img {
  margin: 12px 10px;
    height: 125px;
    width: 125px;
    border-radius: 75px;
    float: left;
    justify-content: center;
    flex: 1;
}

.vr {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-height: 100%;
}

.update-profile {
  width: 100%;
  background-color: #eeeeee;
  text-align: center;
  margin-bottom: 5px;
}
.update-profile h1 {
  font-size: calc(4vw + 30vh);
  display: inline;
  padding: 11px;
  vertical-align: middle;
}
.update-profile h2 {
  font-size: calc(3vw + 23vh);
  display: inline;
  padding: 11px;
  vertical-align: middle;
}
.update-profile h3 {
  font-size: calc(2vw + 17vh);
  display: inline;
  padding: 11px;
  vertical-align: middle;
}
.update-profile h4 {
  font-size: calc(12vw + 5vh);
  padding: 3px;
  display: inline;
  vertical-align: middle;
}
.update-profile h5 {
  font-size: calc(10vw + 3vh);
  padding: 3px;
  display: inline;
  vertical-align: middle;
}
.update-profile h6 {
  font-size: calc(8vw + 1vh);
  padding: 3px;
  display: inline;
  vertical-align: middle;
}
.update-profile img {
  margin-top: 2.5vh;
  vertical-align: middle;
}
.update-profile p {
  font-size: 7em;
  text-align: center;
  letter-spacing: 10px;
  padding-bottom: 3vh;
}
@media only screen and (max-width: 601px){
  .update-profile p {
    font-size: calc(4vw + 5vh);
    letter-spacing: 3px;
  }
}
.links {
  text-align: center;
  margin-bottom: 0.7vh;
}

.links a{
  font-size: 1.5em;
  padding-right: 10px;
}

.text {
  float: right;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.0rem;
  line-height: 1.2rem;
  flex: 1;
  flex-basis: 50%;
}
.text p {
  font-size: 0.83rem;
  margin-top: 2px;
  margin-left: 10px;
  flex: 1;
}
.parallax-container {
    max-height: 400px;
}

.modal{
  height: 22em;
  overflow: hidden;
  max-width: 30em;
}

#owl-ca .item{
  margin: 3px;
}
#owl-ca .item img{
  display: block;
  width: 100%;
  height: auto;
}
.comment {
  padding-top: 15px;
  margin: 0px 10px;
  line-height: 1.0rem;
}
.comment p {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.comment i {
  color: #a7a7a7;
}

.input-field textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  margin-bottom: 10px;
  outline: none;
  height: 3.7rem;
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
textarea:focus {
  border-bottom: 1px solid #0097a7;
  -webkit-box-shadow: 0 1px 0 0 #0097a7;
  -moz-box-shadow: 0 1px 0 0 #0097a7;
  box-shadow: 0 1px 0 0 #0097a7;
}

#social_button a:visited { 
    color: white;
}